body{

    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:40px;

}

.container{

    width:400px;
    margin:auto;

    background:white;

    padding:25px;

    border-radius:10px;

    box-shadow:0px 0px 10px gray;

}

h1{

    text-align:center;

}

label{

    display:block;
    margin-top:15px;

}

input{

    width:100%;
    padding:10px;
    margin-top:5px;
    box-sizing:border-box;

}

.buttonGrid{

    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
    margin-top:20px;

}

button{

    padding:10px;
    cursor:pointer;
    font-size:18px;

}

button:hover{

    background:lightblue;

}

hr{

    margin-top:25px;
    margin-bottom:25px;

}

h2{

    margin-top:25px;
    text-align:center;
    color:blue;

}